@model Test3.Models.Reserves

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Reserves</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Start_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Start_Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.End_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.End_Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Room.Building_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Room.Building_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Event.Event_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Event.Event_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Reserve_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
