@model IEnumerable<Test3.Models.Reserves>

@{
    ViewBag.Title = "Reservations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="row mt-5">
        <h2>Reservations</h2>
        <p class="ml-auto">
            @Html.ActionLink("Add New Entry", "Create", null, new { @class = "btn btn-primary" })
        </p>
    </div>

<table id="example" class="mt 4 table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Start_Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.End_Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room.Room_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event.Event_name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @*@Html.DisplayFor(modelItem => item.Date.ToShortDateString())*@

                    @item.Date.ToString("dd MMMM-yyyy")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Start_Time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.End_Time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Room.Room_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Event.Event_name)
                </td>

                <td >

                    @if (ViewData["role"].Equals("admin") || ViewData["society"].Equals(item.Event.Society.Society_ID))
                    {

                        @Html.ActionLink("Edit", "Edit", new { id = item.Reserve_ID }, new { @class = "btn btn-info" }) @: 
                        @Html.ActionLink("Delete", "Delete", new { id = item.Reserve_ID }, new { @class = "btn btn-danger" }) 
                    }
                    @Html.ActionLink("Details", "Details", new { id = item.Reserve_ID }, new { @class = "btn btn-secondary" })
                </td>

            </tr>
        }
    </tbody>
</table>
@section scripts{
    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                "bLengthChange": false,
                "pageLength": 10
            });
        });
    </script>
}
