@model Test3.Models.Rooms

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Rooms</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Building_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Building_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Room_Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Room_Status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Room_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
