@model IEnumerable<Test3.Models.Rooms>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex justify-content-between" style="margin-top:10px;">
    <h2>Rooms</h2>
    <p>
        @Html.ActionLink("Add New Entry", "Create", null, new { @class = "btn btn-primary" })
    </p>
</div>
<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Room_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Building_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room_Status)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Room_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Building_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Room_Status)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Room_ID })
                    @*@Html.ActionLink("Details", "Details", new { id = item.Room_ID }) |*@
                    @*@Html.ActionLink("Delete", "Delete", new { id = item.Room_ID })*@
                </td>
            </tr>
         }
    </tbody>

</table>
@section scripts{
    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                "bLengthChange": false,
                "pageLength": 3
            });
        });
    </script>
}