@model IEnumerable<Test3.Models.User>

@{
    ViewBag.Title = "Users";
}

    <div class="row mt-5">
        <h2 >Users</h2>
        <p class="ml-auto">
            @Html.ActionLink("Add New Entry", "Create", null, new { @class = "btn btn-primary" })
        </p>
    </div>

<table id="example" class="mt-4 table table-striped table-bordered">
    
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User_Pass)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User_Type.Type_Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User_Pass)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User_Type.Type_Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.User_ID }, new { @class = "btn btn-info" })
                    @Html.ActionLink("Details", "Details", new { id = item.User_ID }, new { @class = "btn btn-secondary" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.User_ID }, new { @class = "btn btn-danger" })
                </td>
                
            </tr>
        }
    </tbody>

</table>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                "bLengthChange": false,
                "pageLength": 10
            });
        });
    </script>
}
