
@{
    ViewBag.Title = "InvalidLogin";
}

@model Test3.Models.User



<style>
    .login-page {
        width: 80%;
        padding: 0 0 0;
        margin: 0 auto;
    }

    .input {
        font-family: "Roboto", sans-serif;
        outline: 0;
        background: #f2f2f2;
        width: 100%;
        border: 0;
        margin: 0;
        padding: 15px;
        box-sizing: border-box;
        font-size: 14px;
        border-left: 3px solid green;
    }

    .login {
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        outline: 0;
        background: #4CAF50;
        width: 80%;
        border-radius: 50px;
        border: 0;
        padding: 10px;
        color: #FFFFFF;
        font-size: 14px;
        cursor: pointer;
        margin-top: 3%;
    }

    .heading {
        margin: 0 auto;
        width: 32%;
        border: 2px solid #fff;
        padding: 10px;
        margin-top: 70px;
        background-color: #700F1A;
        text-align: center;
        font-size: 28px;
        color: #fff;
    }

    .form {
        position: relative;
        z-index: 1;
        background: #FFFFFF;
        max-width: 360px;
        margin: 0 auto 100px;
        padding: 30px 30px 25px 30px;
        text-align: center;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    }
</style>

@using (Html.BeginForm("Login2", "Users", FormMethod.Post))
{
    //this is for create form tag
    @Html.AntiForgeryToken() // this is for prevent CSRF attack
    @Html.ValidationSummary(true)
    if (@ViewBag.Message != null)
    {

        @*<div style="border:1px solid red">
                @ViewBag.Message
            </div>*@
    }
    <div class="heading">LOGIN</div>
    <div class="login-page">
        <div class="form">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @* @Html.LabelFor(model => model.User_Name, htmlAttributes: new { @class = "control-label col-md-2" })*@
                @*<div class="col-md-10">*@
                @Html.EditorFor(model => model.User_Name, new { htmlAttributes = new { @class = "input", placeholder = "UserName" } })
                @Html.ValidationMessageFor(model => model.User_Name, "", new { @class = "text-danger" })
                @*</div>*@
            </div>

            <div class="form-group">
                @*@Html.LabelFor(model => model.User_Pass, htmlAttributes: new { @class = "control-label col-md-2" })*@
                @*<div class="col-md-10">*@
                @Html.EditorFor(model => model.User_Pass, new { htmlAttributes = new { @class = "input", placeholder = "Password" } })
                @Html.ValidationMessageFor(model => model.User_Pass, "", new { @class = "text-danger" })
                @*</div>*@
            </div>

            <div class="form-group">
                @*<div class="col-md-offset-2 col-md-10">*@
                <input type="submit" value="Login" class="login" />
                @*</div>*@
                <div><br />
                    <font color="red">   Invalid Username or password  </font>
                </div>
            </div>
        </div>
    </div>



    @*<table>
            <tr>
                <td>@Html.LabelFor(a => a.User_Name,  htmlAttributes: new { @class = "control-label col-md-2" })</td>
                <td>@Html.TextBoxFor(a => a.User_Name, new { htmlAttributes = new { @class = "form-control" } })</td>
                <td>@Html.ValidationMessageFor(a => a.User_Name, "", new { @class = "text-danger" })</td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(a => a.User_Pass)
                </td>
                <td>
                    @Html.PasswordFor(a => a.User_Pass)
                </td>
                <td>
                    @Html.ValidationMessageFor(a => a.User_Pass)
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Login" />
                </td>
                <td></td>
            </tr>
        </table>*@
}

